$primary-color: yellow;
$secondary-color: #FF0000;
$accent-color: #A70000;
$background-color: #D7A444;
$foreground-color: #f4f4f4;
$border-color: #ffe3bc;
$info-color:#007BFF;
$info-accent-color:#0463c9;