@import './colors';
//HEADER//

header {
    position: relative;

    form {
        a {
            margin: 0 .5rem !important;
        }
    }
}

section {
    position: relative;
    // height: 100vh;
    overflow: hidden;
    margin: 1rem 0rem;
}

.howToUse {
    margin: 10rem 4rem 9rem 7rem !important;
}

.userDetail {
    background: rgba(255, 227, 188, .8);
    padding: 1.5rem;
    margin: 2rem 0rem;

    th {
        font-weight: 600;
    }

    td {
        padding-left: 1rem;
    }
}

.userControl {
    margin: 1.3rem 0 0rem 2rem;
}

iframe {
    min-height: 20rem !important;
    max-height: 29rem !important;
}

.userDetailMobileLive {
    display: none !important;
}



//Media Queries//
@media only screen and (max-width: 600px) {
    .howToUse {
        margin: 1.4rem !important;
    }

    .userControl {
        margin-top: 2rem;
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 765px) {
    .userDetailLive {
        display: none !important;
    }

    .userDetailMobileLive {
        display: block !important;
    }
}